#
# Config sample for Alsa.Backup
#
# Usage: 
#   alsa-backup --config /path/to/this/file
#

#
# To use syslog
#
require 'syslog_logger'
ALSA.logger = AlsaBackup.logger = SyslogLogger.new('alsa.backup').tap do |logger|
  logger.level = Logger::INFO
end

# FIXME
module ALSA::PCM
  class Stream
    alias_method :open_unfixed, :open
    def open(device = "default", hardware_attributes = {}, &block)
      ALSA.logger.info "Patch available_minimum, please update ruby-alsa"
      open_unfixed device, hardware_attributes do 
        change_software_parameters do |sw_params|
          sw_params.available_minimum = 1
        end
        yield self
      end
    end

    def buffer_time_size
      hw_params.period_time
    end
  end
end

AlsaBackup.logger.info("load config #{__FILE__}")

def default_card_is_maudio_delta44?
  File.read("/proc/asound/card0/id").strip == "M44"
end

AlsaBackup.config do |recorder|
  recorder.channels = default_card_is_maudio_delta44? ? 4 : 2
  recorder.device = "plug:dsnoop"                  
  recorder.file = Proc.new {
    Time.now.utc.floor(:min, 5).strftime("%Y/%m-%b/%d-%a/%Hh%M.wav")
  }
  recorder.directory="/srv/pige/records"
end


