#
# Config sample for Alsa.Backup
#
# Usage: 
#   alsa-backup --config /path/to/this/file
#

#
# To use syslog
#
require 'syslog_logger'
ALSA.logger = AlsaBackup.logger = SyslogLogger.new('alsa.backup').tap do |logger|
  logger.level = Logger::INFO
end

AlsaBackup.logger.info("load config #{__FILE__}")

def default_card_is_maudio_delta44?
  File.read("/proc/asound/card0/id").strip == "M44"
end

AlsaBackup.config do |recorder|
  recorder.channels = default_card_is_maudio_delta44? ? 4 : 2
  recorder.device = "plug:dsnoop"                  
  recorder.file = Proc.new {
    Time.now.utc.floor(:min, 5).strftime("%Y/%m-%b/%d-%a/%Hh%M.wav")
  }
  recorder.directory="/srv/pige/records"
end


